@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-space-900: #0B0B15;
  --color-space-800: #111225;
  --color-space-700: #1E1E3F;
  --color-space-accent: #38BDF8;
  --color-space-gold: #FACC15;

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

@layer base {
  body {
    @apply bg-space-900 text-slate-200 font-sans overflow-x-hidden;
  }
}

.star-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}